@charset "UTF-8";

/* =====================
   RESET BÁSICO
===================== */
body {
    margin: 0;
    padding: 0;
    background-color: #fffeee;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* =====================
   HEADER / TOPO
===================== */
.ousyou {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: red;
}


.topo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

.banner {
    display: flex;
    align-items: center;
    width: 100%;
}

.banner img {
    height: 48px;
    border-radius: 50%;
}

.banner h1 {
    font-size: 45px;
    color: white;
}

.lang {
    margin-left: auto;
    color: white;
    font-size: 20px;
    padding-right: 20px;
    cursor: pointer;
}

/* =====================
   CONTEÚDO PRINCIPAL
===================== */
.middle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 20px;
}

/* itens */
.middle .item {
    width: 300px;
}

/* texto + mise */
.middle .photo {
    text-align: center;
    font-size: 20px;
}

.middle img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    
}


.info{
    text-align: center;
   
}

.delivery{
    padding: 50px;
    
}

.mochi{
    padding: 50px;
}

.info h2{
     color: #fff000;
    -webkit-text-stroke: black 1px;
    font-size: 48px;
}

.info button{
    background-color: #01c267;
    width: 100px;
    height:  30px;
}

.mapa-info-content{
    text-align: center;
}



/* =====================
   FOOTER
===================== */
footer {
    text-align: center;
    padding: 200px 20px;
    background-image: url("name.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px auto;
    background-color: #fff000;
}

/* =====================
   📱 CELULAR
===================== */
@media (max-width: 600px) {

    .lang {   
        font-size: 14px;
    }


    .banner h1 {
        
        font-size: 24px;
    }

    .middle {
        flex-direction: column;
        gap: 30px;
    }

    .middle .item {
        width: 90%;
    }

    .middle .photo {
        font-size: 16px;
    }

    footer {
        padding: 120px 10px;
        background-size: 200px auto;
    }

    .item{
        display: none;
    }
}

/* =====================
   📟 TABLET
===================== */
@media (min-width: 601px) and (max-width: 1024px) {

    .banner h1 {
        font-size: 36px;
    }

    .middle {
        flex-direction: column;
        gap: 50px;
    }

    .middle .item {
        width: 70%;
    }

    footer {
        padding: 180px 20px;
        background-size: 250px auto;
    }

     .item{
        display: none;
    }
}