@charset "UTF-8";

/* =====================
   RESET BÁSICO
===================== */
body {
    margin: 0;
    padding: 0;
    background-color: #fffeee;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* =====================
   HEADER / TOPO
===================== */
.ousyou {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: red;
}

.topo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

.banner img {
    height: 48px;
    width: auto;
    border-radius: 50%;
}

.banner h1 {
    font-size: 45px;
    color: white;
}

/* =====================
   LOGO
===================== */
.logo {
    width: 20px;
    height: 20px;
}

/* =====================
   CONTEÚDO PRINCIPAL
===================== */
.middle {
    display: flex;              /* ALINHAMENTO HORIZONTAL */
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

/* itens dentro do middle */
.middle .item{
    width: 300px;
    height: auto;
}

/* bloco do texto + imagem do mise */
.middle .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}


/* =====================
   FOOTER
===================== */
footer {
    text-align: center;
    padding: 250px;
    background-image: url("name.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px auto;
    background-color: #fff000;
}