@charset "UTF-8";
.logo{
    width: 20px;
    height: 20px;
    
}
.mise{
    display: block;
    margin:auto;
    border-radius: 30%;
}
body{
    background-color: #fffeee;
    padding: 0px;
    margin: 0px;
}

p{

    text-align: center;
    font-size: 20px;
}

footer{
    background-color: yellow;
    
}

a{

    text-decoration: none;
}

.ousyou h1{
font-size: 50px;
}

.ousyou{
    display: flex;
    background-color:red;
    height: 100px;
    align-items: center;
}

.topo{
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.banner img{
    height: 48px;
    width: auto;
    border-radius: 50%;
    

}

.banner h1{
    font-size: 45px;
    color: white;
    
}